html, body, ul, li, dl, dt, dd, p, h2, h3, h4, input, textarea, figure {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  list-style: none;
}

body {
  font-size: 0.4rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

img {
  border: none;
  vertical-align: top;
}

a {
  text-decoration: none;
  blr: expression(this.onFocus = this.blur ());
  color:#4a4a4a;
}

input {
  font-size: 0.5rem;
  border: 0;
  border: 1px solid #000;
  width: 5rem;
  margin: 0 auto;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}
.right{
  float:right;
}
